* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');

:root {
  --primary-dark: #5651e5;
  --primary-light: #709dff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply font-[Poppins]
  }

  li {
    @apply p-4 text-sm;
  }

  button {
    @apply px-4 py-2 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-lg
  }

  h2 {
    @apply text-xl font-bold
  }
}
